<html>

<head>
    <script src="angular-1.4.8.js"></script>
    <script src="Asgmt_Marks.js"></script>
    <title>Marks Listed</title>
</head>

<body ng-app="marksApp">
    <form name="markForm" ng-controller="marksController" novalidate>
        <div>
            <table border="0">
                <tr>
                    <td>Enter first name:</td>
                    <td><input name="nameVal" type="text" ng-model="nameVal" required>
                        <span style="color:red" ng-show="markForm.nameVal.$dirty && markForm.nameVal.$invalid && markForm.nameVal.$error.required">First Name is required.</span>
                    </td>
                </tr>
                <tr>
                    <td>Quatum Field Theory</td>
                    <td><input name="mark1Val" type="number" ng-model="mark1Val" required>
                        <span style="color:red" ng-show="markForm.mark1Val.$dirty && markForm.mark1Val.$invalid && markForm.mark1Val.$error.required">Required Field</span>
                    </td>
                </tr>
                <tr>
                    <td>Elementary Particle</td>
                    <td><input name="mark2Val" type="number" ng-model="mark2Val" required>
                        <span style="color:red" ng-show="markForm.mark2Val.$dirty && markForm.mark2Val.$invalid && markForm.mark2Val.$error.required">Required Field</span>
                    </td>
                </tr>
                <tr>
                    <td>High Energy Astrophysics</td>
                    <td><input name="mark3Val" type="number" ng-model="mark3Val" required>
                        <span style="color:red" ng-show="markForm.mark3Val.$dirty && markForm.mark3Val.$invalid && markForm.mark3Val.$error.required">Required Field</span>
                    </td>
                </tr>
            </table>

            <div>{{"Name: "+ nameVal}}</div>
            <div>{{"Sub 1: "+mark1Val}}</div>
            <div>{{"Sub 2: "+mark2Val}}</div>
            <div>{{"Sub 3: "+mark3Val}}</div>
            <div id="avg">{{"Average: "+((mark1Val+mark2Val+mark3Val)/3)}}</div>

            <input type="button" value="Reset" ng-click="reset()" />
            <input type="button" value="Submit Marks" ng-click="submitMarks()" />

            <br/>
            <table class="mark_styl">
                <caption>Marks</caption>
                <thead>
                    <tr>
                        <th>Homo Sapien</th>
                        <th>Quatum Field Theory</th>
                        <th>Elementary Particles</th>
                        <th>High Energy Astrophysics</th>
                        <th>Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in mkmarks">
                        <td>
                            <div>{{x.name}}</div>
                        </td>
                        <td>
                            <div>{{x.m1}}</div>
                        </td>
                        <td>
                            <div>{{x.m2}}</div>
                        </td>
                        <td>
                            <div>{{x.m3}}</div>
                        </td>
                        <td>
                            <div>{{x.avg}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>

<style>
    .mark_styl {
        border: 1px solid #C0C0C0;
        border-collapse: collapse;
        padding: 5px;
    }
    
    .mark_styl th {
        border: 1px solid #C0C0C0;
        padding: 5px;
        background: #F0F0F0;
    }
    
    .mark_styl td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }
</style>
