<html>
<script src="angular.js"></script>
<body>
<div ng-app="myApp" ng-controller="formCtrl">
  <form>
    Name: <input type="text" ng-model="name"><br>
	Java: <input type="number" ng-model="Sub1" min="1" max="10"><br>
	Angular-JS:<input type="number" ng-model="Sub2" min="1" max="10"><br>
	AWS: <input type="number" ng-model="Sub3" min="1" max="10"><br>
  </form>
  <h1>Name: {{name}}</h1>
  <h1>Subject1 :{{Sub1}}</h1>
  <h1>Subject2: {{Sub2}}</h1>
  <h1>Subject3: {{Sub3}}</h1>
  <h1>Your Average Marks: {{(Sub1+Sub2+Sub3)/3}}</h1>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.name = "";
	$scope.Sub1 = "Marks";
	$scope.Sub2 = "Marks";
	$scope.Sub3 = "Marks";
});
</script>
</body>
</html>