<html>
    
    <body>
<div ng-controller="addStudentController">
    <form name="addStudentForm" class="css-form" >
    <br/><br/><br/>
    <table align="center">
				<tr>
					<th colspan="2" align="center">Enter the below details</th>
				</tr>
				<tr>
					<td>Student's Id</td>
					<td><span style="color: black">{{nextStudentID}}</span></td>
				</tr>
			
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" ng-model="student.name"
						required /> <span style="color: red"
						ng-show="addStudentForm.name.$dirty && addStudentForm.name.$invalid">
							<span ng-show="addStudentForm.name.$error.required">Student's	Name is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Age</td>
					<td>					    
					<input type="number" name="age" id = "age" ng-model="student.age"
						min="5" max="70" required />						
						<span style="color: red"
						ng-show="addStudentForm.age.$dirty && addStudentForm.age.$invalid">
							<span ng-show="addStudentForm.age.$error.required">Student's Age is required.</span>
					</span></td>
				</tr>
				<tr>
				<td></td>
					<td colspan="1" align="left"><slider/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Save"
						ng-click="update(student)"
						ng-disabled="addStudentForm.name.$dirty && addStudentForm.name.$invalid ||  
										addStudentForm.id.$dirty && addStudentForm.id.$invalid ||  
										addStudentForm.age.$dirty && addStudentForm.age.$invalid " />
					</td>
				</tr>
				<tr>
				<td>
					<span style="color: red">{{statusMsg}}</span>
				</td>
				</tr>
			</table>
    </form>
    
</div>
</body>
</html>

