<html>
<script src="angular.js"></script>
<script>
	var app = angular.module("student", []);
	app.controller("studentController", function($scope) {
		$scope.studentList = []
		$scope.nameVal = "Enter Name"
		$scope.mark1Val = 0
		$scope.mark2Val = 0
		$scope.mark3Val = 0

		$scope.save = function() {
			var obj = {
				"name" : $scope.nameVal,
				"mark1" : $scope.mark1Val,
				"mark2" : $scope.mark2Val,
				"mark3" : $scope.mark3Val
			}
			$scope.studentList.push(obj);
			reset();
		}

	});
</script>

<body ng-app="student">

	<div ng-controller="studentController">
		<form name="studentForm" novalidate>
			<table>
				<tr>
					<th colspan="2" align="center">Enter the below details</th>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="nameVal" ng-model="nameVal"
						required /> <span style="color: red"
						ng-show="studentForm.nameVal.$dirty && studentForm.nameVal.$invalid">
							<span ng-show="studentForm.nameVal.$error.required">Student
								Name is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Mark1</td>
					<td><input type="number" name="mark1Val" ng-model="mark1Val"
						min="0" max="100" required /> <span style="color: red"
						ng-show="studentForm.mark1Val.$dirty && studentForm.mark1Val.$invalid">
							<span ng-show="studentForm.mark1Val.$error.required">Mark1
								is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Mark2</td>
					<td><input type="number" name="mark2Val" ng-model="mark2Val"
						min="0" max="100" required /> <span style="color: red"
						ng-show="studentForm.mark2Val.$dirty && studentForm.mark2Val.$invalid">
							<span ng-show="studentForm.mark2Val.$error.required">Mark2
								is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Mark3</td>
					<td><input type="number" name="mark3Val" ng-model="mark3Val"
						min="0" max="100" required /> <span style="color: red"
						ng-show="studentForm.mark3Val.$dirty && studentForm.mark3Val.$invalid">
							<span ng-show="studentForm.mark3Val.$error.required">Mark3
								is required.</span> <span ng-show="studentForm.mark3Val.$error.invalid">Mark3
								is Invalid.</span>
					</span></td>
				</tr>
				<tr>
					<td colspan="2"><input type="button" value="Save"
						ng-click="save()"
						ng-disabled="studentForm.nameVal.$dirty && studentForm.nameVal.$invalid ||  
										studentForm.mark1Val && studentForm.mark1Val.$invalid ||  
										studentForm.mark2Val && studentForm.mark2Val.$invalid ||  
										studentForm.mark3Val && studentForm.mark3Val.$invalid" />
					</td>
				</tr>
			</table>

			<br /> <br /> <br />

			<hr />
			<div id="output">
				<table border="1">
					<tr>
						<th colspan="2" align="center">Student Mark Details</th>
					</tr>
					<tr>
						<td>Name</td>
						<td>{{nameVal}}</td>
					</tr>
					<tr>
						<td>Mark1</td>
						<td>{{mark1Val}}</td>
					</tr>
					<tr>
						<td>Mark2</td>
						<td>{{mark2Val}}</td>
					</tr>
					<tr>
						<td>Mark3</td>
						<td>{{mark3Val}}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{mark1Val*1+mark2Val*1+mark3Val*1}}</td>
					</tr>
					<tr>
						<td>Average</td>
						<td>{{(mark1Val*1+mark2Val*1+mark3Val*1)/3}}</td>
					</tr>

				</table>
			</div>


			<br /> <br />
			<hr />
			<table border="1">
				<tr>
					<td>Name</td>
					<td>Mark1</td>
					<td>Mark2</td>
					<td>Mark3</td>
				</tr>
				<tr ng-repeat="x in studentList">
					<td>{{ x.name }}</td>
					<td>{{ x.mark1 }}</td>
					<td>{{ x.mark2 }}</td>
					<td>{{ x.mark3 }}</td>
				</tr>
			</table>

		</form>
	</div>

</body>
</html>